<!-- Copia de nuevo_movimiento.html-->
<!-- Las zonas modificables se actalizan a etiquetas de Jinja-->


<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Balance de cuentas | {% block titulo_pagina %}{% endblock %}</title> <!--block = intrucción aqúi vendrá un bloque que se llamará "x" y alguien le dirá que es "x" > Para nuevo_movimiento.html es "Nuevo movimiento" -->
        <link rel="stylesheet" href="static/css/flat-remix.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <p>Balance de gastos</p>
        </header>
        <section class="contenedor">
            <nav>
                <p><a href="/">Inicio</a> | <a href="/nuevo">Nuevo</a></p> <!-- Etiqueta para botones "Inicio | Nuevo" en la web, con "/" va a buscar la ruta inicio dentro de nuestro servidor -->
            </nav>
            {% block contenido_pagina %}{% endblock %} <!-- otro block , lo va a buscar en nuevo_movimiento.html y en inicio.html-->

        </section>
        <footer>
            <p>&copy; 2021 - Todos los derechos reservados</p>
        </footer>
    </body>
</html>