{% extends 'base.html' %} <!-- Este fichero extiende de base.html, lo usa de plantilla -->

{% block titulo_pagina %} Nuevo movimiento {% endblock %} <!--block titulo página, en este archivo el bloque nuevo_movimiento, será "Nuevo movimiento" -->

{% block contenido_pagina %}
            <h1>Alta de movimiento</h1>
            {% for error in errores %}
                <p class="error">{{ error }}</p> <!-- Mensaje para error-->
            {% endfor %}

            <form action="/nuevo" method="post"> <!-- Etiqueta form = Formulario, se le informa la ruta. Método = si no se pone nada el método es GET-->
                <div class="campo-formulario"> <!-- Estilo para formulario -->
                    <label for="fecha">Fecha:</label> <!-- Etiqueta label para campo Fecha -->
                    <input type="date" name="fecha" id="fecha" value={{form.fecha}}>  <!-- Etiqueta input para campo Fecha -->  
                </div>
                <div class="campo-formulario">
                    <label for="concepto">Concepto:</label>
                    <input type="text" name="concepto" id="concepto" value={{form.concepto}}>
                </div>
                <div class="campo-formulario">
                    <input type="radio" name="ingreso_gasto" id="ingreso" value="I"><span class="label">Ingreso</span>  
                    <input type="radio" name="ingreso_gasto" id="gasto" value="G"><span class="label">Gasto</span> <!-- mismo name = "ingreso_gasto" en las 2 opciones para que solo deje escoger 1 y distintos ID para identificarlos-->
                </div>
                <div class="campo-formulario">
                    <label for="cantidad">Cantidad:</label>
                    <input type="text" name="cantidad" id="cantidad" value={{form.cantidad}}>
                </div>

                <input name="submit" class="blue-button" type="submit" value="Enviar">

            </form>

{% endblock%}